.w80 {
    width: 80%;
}

.w60{
    width: 60%;
}

.hamb {
    height: 5px;
    width: 50px;
    border-radius: 30%;
    background-color: black;
}

.hamb1 {
    height: 5px;
    width: 50px;
    border-radius: 30%;
    background-color: white;
}

.fontsize {
    font-size: 1.4em;
}

.bg264d7efoot {
    background-color: #264d7e;
}

.size-h4{
    font-size: 1.2em;
}

.subtitle{
    font-size: 1.5em;
}

.shadowed{
    box-shadow: 5px 5px 5px #264d7e;
}

.titlecolor{
    color: #264d7e;
}

.pos-absolute{
    position: absolute;
    top: 50px;
    left: 129px;
}

.pos-absolute2{
    position: absolute;
    top: 70px;
    left: 97px;
    margin-top: 20px;
}

.bold{
    font-weight: bold;
    font-size: 1.5em;
}

.title-presta{
    font-size: 1.8em;
}

.opa{
    opacity: 0.7;
}

.opa0{
    opacity: 0;
}

.anim-opa {
    animation-name: prestation; 
    animation: prestation 2s;
    opacity: 0;
}

@keyframes prestation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes prestation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 960px) {
    .menu {
        display: none;
    }

    .footmobile{
        display: none;
    }

    .text {
        color: white !important;
    }

    .bg264d7e {
        background-color: #264d7e;
    }

    .titlesizemobile{
        font-size: 1.2em;
    }

    .subtitlemobile{
        font-size: 1.0em;
    }

    .fontsizemobile{
        font-size: 0.8em;
    }
}

@media screen and (min-width: 720px) {

    .border264d7efixe{
        border: solid 3px #264d7e;
    }

    .border264d7e {
        border: solid 3px #264d7e;
    }
}