.w80{
    width: 80%;
}

.hamb{
    height: 5px;
    width: 50px;
    border-radius: 30%;
    background-color: black;
}

.fontsize{
    font-size: 1.4em;
}

@media screen and (max-width: 720px){
    .menu{
        display: none;
    }
}