.w80 {
    width: 80%;
}

.w60{
    width: 60%;
}
/* header */
.hamb {
    height: 5px;
    width: 50px;
    border-radius: 30%;
    background-color: black;
}

.hamb1 {
    height: 5px;
    width: 50px;
    border-radius: 30%;
    background-color: white;
}

.fontsize {
    font-size: 1.4em;
}

a:link
{
text-decoration:none;
}

/* footer */
.bg264d7efoot {
    background-color: #264d7e;
}

/* index */
.size-h4{
    font-size: 1.2em;
}

.subtitle{
    font-size: 1.5em;
}

.shadowed{
    box-shadow: 5px 5px 5px #264d7e;
}

.titlecolor{
    color: #264d7e;
}

.pos-absolute{
    position: absolute;
    top: 70px;
    left: 129px;
}

.pos-absolute0{
    position: absolute;
    top: 160px;
    left: 97px;
}

.pos-absolute1{
    position: absolute;
    top: 260px;
    left: 97px;
}

.pos-absolute2{
    position: absolute;
    top: 90px;
    left: 97px;
    margin-top: 20px;
}

.pos-absolute3{
    position: absolute;
    top: 210px;
    left: 97px;
}

.pos-absolute4{
    position: absolute;
    top: 170px;
    left: 83px;
}

/* div */

.pos-abslolute5{
    position: absolute;
    top: 0px;
}

.pos-absolute-titlespec{
    position: absolute;
    top: 70px;
    left: 73px;
}

.pos-absolute6{
    position: absolute;
    top: 310px;
    left: 97px;
}

.bold{
    font-weight: bold;
    font-size: 1.5em;
}

.title-presta{
    font-size: 1.8em;
}

.bgF4F4F4{
    background-color: #F4F4F4;
}

.opa{
    opacity: 0.7;
}

.zindex{
    z-index: 800;
}
/* end index */

/* prestation*/

.pos-absolute-presta{
    position: absolute;
    top: 300px;
    left: 215px;
}

.titlepresta{
    font-size: 4em;
    color: #264d7e;
}


.anim-opa {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.anim-opa {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: white;
    opacity: 0;
}

@keyframes prestationbg {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.6;
        
    }
}

@keyframes prestation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        
    }
}

/*end prestation*/

/*contact*/

.color264d7e{
    color: #264d7e;
}

.resize{
    resize: none;
}
/*end contact*/

/*devis*/

.div-none{
    display: none;
}

/*end devis*/

/*admin*/

.btn264d7e{
    background-color: #264d7e;
}

@keyframes prestationleave {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 960px) {
    .menu {
        display: none;
    }

    .footmobile{
        display: none;
    }

    .text {
        color: white !important;
    }

    .bg264d7e {
        background-color: #264d7e;
    }

    .titlesizemobile{
        font-size: 1.2em;
    }

    .subtitlemobile{
        font-size: 1.0em;
    }

    .fontsizemobile{
        font-size: 0.8em;
    }

    .w100{
        width: 100%;
    }

    .h2sizemobile{
        font-size: 2.0em;
        color: #264d7e;
    }
    
    .galery-mobile{
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    .m-admin{
        display: flex;
        justify-content: stretch;
    }
}

@media screen and (max-width: 1024px) {
    .w100{
        width: 100%;
    }
}

@media screen and (min-width: 720px) {

    .border264d7efixe{
        border: solid 3px #264d7e;
    }

    .border264d7e {
        border: solid 3px #264d7e;
    }
}