<header id="header-public" class="container-fluid mx-auto p-0 m-0 sticky-top">
	<div class="hamburger col-4">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="col-8 col-xl-12 row mx-auto p-0 m-0 ">
		<div id="menu-public" class="bg264d7e col-12 col-lg-12 my-auto d-xl-flex justify-content-xl-center align-items-xl-center">
			<i class="ri-close-fill"></i>
            <img class="img-fluid col-8 col-xl-2" src="/assets/image/logo/SmallLogo.png" alt="">
			<div class="col-10 col-lg-8 p-0 m-0 d-xl-flex justify-content-end kikou">
				<nav class="col-lg-12 d-xl-flex justify-content-xl-end">
					<ul class="list-unstyled d-lg-flex align-items-xl-center fontsize bold">
						<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">
							<a class="cc" href="/">Accueil</a>
						</li>
						<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">
							<a class="cc" href="/prestation">Prestations</a>
						</li>
						<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">
							<a class="cc" href="/realisation">Réalisations</a>
						</li>
						<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">
							<a class="cc" href="/galery">Galerie</a>
						</li>
						<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">
							<a class="cc" href="/devis">Devis</a>
						</li>
						<li class="pl-lg-2 pr-lg-2 textdark hov">
							<a class="cc" href="/contact">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>