<header id="header-public" class="container-fluid mx-auto p-0 m-0 sticky-top bg-white opa">
	<div class="hamburger col-4">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="col-8 col-xl-12 row mx-auto p-0 m-0 ">
		<div id="menu-public" class="mm menu bg264d7e col-12 col-lg-12 my-auto d-xl-flex justify-content-xl-center align-items-xl-center">
			<i class="ri-close-fill"></i>
			<img class="img-fluid col-8 col-xl-2" src="/assets/image/logo/SmallLogo.png" alt="">
			<div class="col-10 col-lg-10 p-0 m-0 d-xl-flex justify-content-center">
				<nav class="col-lg-12 d-xl-flex justify-content-xl-center">
					<ul class="list-unstyled d-lg-flex fontsize bold">
						<a class="cc" href="/index">
							<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">Accueil</li>
						</a>
						<a class="cc" href="/prestation">
							<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">Prestations</li>
						</a>
						<a class="cc" href="/realisation">
							<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">Réalisation</li>
						</a>
						<a class="cc" href="/galery">
							<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">Galerie</li>
						</a>
						<a class="cc" href="/devis">
							<li class="pl-lg-2 pr-lg-2 mr-5 textdark hov">Devis</li>
						</a>
						<a class="cc" href="/contact">
							<li class="pl-lg-2 pr-lg-2 textdark hov">Contact</li>
						</a>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
