<div class="d-flex flex-column bgD7D7D7 width-size menu-absolute rounded  header-opa">
	<div class="col-6 col-lg-12 mt-2 mt-lg-3 bgD7D7D7 p-0 m-0">
		<img class="col-12 img-fluid" src="/assets/image/logo/SmallLogo.png" alt="">
        <nav class="menu-fixed menu mm-admin width-size p-0 m-0 bgD7D7D7 h-100 py-3 no-opa">
			<ul class="list-unstyled p-0 m-0">
				<a class="mb-3" href="/admin/customer">
					<li class="mb-2 ml-5 color3f3f3f">
						<i class="ri-customer-service-line mr-3"></i>Client</li>
				</a>
				<a href="/admin/picture">
					<li class="mb-2 ml-5 color3f3f3f">
						<i class="ri-camera-line mr-3"></i>Photo</li>
				</a>
				<a href="/admin/prestation">
					<li class="mb-2 ml-5 color3f3f3f">
						<i class="ri-tools-line mr-3"></i>Prestation</li>
				</a>
				<a href="/admin/document">
					<li class="mb-2 ml-5 color3f3f3f">
						<i class="ri-bill-line mr-3"></i>Devis/Facture</li>
				</a>
				<a href="/admin/message">
					<li class="mb-2 ml-5 color3f3f3f">
						<i class="ri-chat-1-line mr-3"></i>Message</li>
				</a>
				<a href="/logout">
					<li class="ml-5 color3f3f3f">
						<i class="ri-logout-circle-r-line mr-3"></i>Déconnexion</li>
				</a>
			</ul>
		</nav>
	</div>
</div>